.image{
     background: url('/assets/image/und.jpg');
     background-repeat:no-repeat;
     background-size: cover;
     background-position: center center;
     min-height: 100%;
     top: 0;
     margin: 0;
   }
.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
h1{
  font-size: 60px;
}
.row{
  text-align: center;
  font-size: 30px;
}

a {
  color: white;
}

