
<div class="container p-4 my-2 bg-light ">
<div class="row">
<img src="assets/image/sdglogo.png" class="img-rounded" alt="coralli" width="400" height="270">
</div>
<p>La Terra sta subendo molte trasformazioni a livello atmosferico e nell’acqua, che possono a lungo andare rovinare il pianeta in modo permanente. L’ONU ha definito la strategia degli SDG ,  obiettivi di sviluppo sostenibile  che mirano ad affrontare un'ampia quantità di problemi relativi allo sviluppo economico e sociale, che includono la povertà, la fame, il diritto alla salute e all'istruzione, l'accesso all'acqua e all'energia, il lavoro, la crescita economica inclusiva e sostenibile, il cambiamento climatico e la tutela dell'ambiente, l'urbanizzazione, i modelli di produzione e consumo, l'uguaglianza sociale e di genere, la giustizia e la pace
 La vita sott'acqua e' una parte importante che serve all'umanità ,inquinamento e abuso della pesca sono uno dei principali problemi nell'età moderna. E ancora oggi molti non se ne stanno rendendo conto.
Le specie marine specialmente i pesci sono essenziali per gli esseri umani, sono le fonti di cibo primaria per quasi 1 miliardo di persone nel mondo, negli anni però la  cattura incontrollata di pesci e di altri specie marine, sta portando all'estinzione molti di questi specie, oggi, il 40% degli anfibi, il 30% dei pesci d'acqua dolce e il 30% delle barriere coralline e dei mammiferi marini sono minacciati.
</p>


<h2>Specie in Estinzioni</h2>
<p>Il nostro pianeta ora deve affrontare una crisi di estinzione globale mai vista dall'umanità. Gli scienziati prevedono che più di 1 milione di specie saranno in via di estinzione nei prossimi decenni.
Perché è così importante?
Ogni volta che le specie si estinguono, il mondo intorno a noi si disfa un po '. Le conseguenze sono profonde, non solo in quei luoghi e per quelle specie, ma per tutti noi. Si tratta di perdite consequenziali tangibili, come l'impollinazione delle colture e la depurazione dell'acqua, ma anche spirituali e culturali.
</p>

<h2>Barriere coralline</h2>
<img src="assets/image/Coral.jpg" class="img-rounded" alt="coralli" width="620" height="379">
<p>Un'altro fatto  alla quale dobbiamo anche stare attenti è di proteggere le barriere coralline, vulnerabili a causa delle attività umane. Infatti negli ultimi si vedono i risultati e gli  effetti negative. La pesca eccessiva, l'inquinamento, le specie invasive, i trasporti e il cambiamento climatico, e più di un terzo di tutte le specie di coralli sono ora minacciate di estinzione.
Non è importante solamente per gli essere umani ma anche per le  molte specie, le barriere coralline infatti contengono diversi tipi di organismi e  questi forniscono cibo a molte specie marine
- La pesca eccessiva, l'inquinamento, le specie invasive, i trasporti e il cambiamento climatico
-zone morte : oceani ipossiche. Mancano dell'ossigeno necessario per sostenere più vita marina.
-sbiancamento dei coralli:  Il massiccio sbiancamento causato dall'aumento delle temperature
-contenuto di calore nell’oceano : l'aumento delle concentrazioni di gas serra ha provocato un eccesso di calore.
</p>

<h2>Impatto delle attività umane e dell’ambiente climatico
</h2>
<p>I mutamenti del clima interessano tutte le regioni del mondo, ma in modi e con intensità differenti.                                                                                                                                                                                  Tra le principali conseguenze, dirette e indirette, dei cambiamenti climatici ci sono:
scioglimento dei ghiacciai e  innalzamento dei mari
alluvioni e inondazioni
deterioramento della qualità dell'acqua e progressiva carenza di risorse idriche
aumento di incendi e siccità
danni alla biosfera
danni ad abitazioni e infrastrutture
aumento dei fenomeni migratori
Impatto umano: pesca eccessiva
La pesca distruttiva, come la pesca a strascico, può danneggiare gli ecosistemi dei fondali marini e catturare indiscriminatamente tutto ciò che incontra
Impatto umano: spedizione
Il trasporto intensivo danneggia gli ambienti marini attraverso il rilascio di sostanze chimiche, il trasferimento di specie invasive, lo scarico di rifiuti e disturbi fisici.
Impatto umano: cumulativo
Con quasi il 98% degli oceani globali colpiti da molteplici fattori di stress, i punti caldi dell'impatto cumulativo includono il Mare del Nord e il Mar Cinese Meridionale e Orientale.
Aree marine protette
Le aree protette sono zone del territorio naturali, nelle quali vigono particolari restrizioni di uso ed attività umane, allo scopo di preservare fauna e flora caratteristiche del luogo.Sono state istituite più di 16.000 aree di questo tipo che coprono il 7,4% dell'oceano mondiale. La metà di loro non consente la pesca o altre attività umane. Implementati correttamente, hanno dimostrato di prevenire le perdite di corallo e fornire benefici ambientali ed economici.
</p>

<h2>Acque troppo acide, danni troppo grandi</h2>
<p>L’aumento dell’acidità degli oceani è provocato dall’incremento della concentrazione di anidride carbonica nell’atmosfera e dal conseguente aumento delle temperature. È un fenomeno molto dannoso e pericoloso: riduce infatti la capacità dell’oceano di assorbire CO2 e mette in pericolo la vita marina.
L’acidità degli oceani è aumentata del 26% rispetto al periodo pre-industriale. E le previsioni dicono che entro il 2100 si assisterà a un incremento del 100-150%.
Con l’aumentare del livello di acidità, l’aragonite stenta a formarsi e si dissolve, impedendo ai piccoli organismi di sopravvivere e causando danni a tutto il processo alimentare negli oceani.
</p>
</div>
